In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
file_path_film = "TUO_PATH_FILM.csv"
sdf_movies = pd.read_csv(file_path_film)

In [ ]:
file_path_users = "TUO_PATH_USERS.csv"
sdf_users = pd.read_csv(file_path_users)

In [ ]:
file_path_ratings = "TUO_PATH_RATINGS.csv"
sdf_ratings = pd.read_csv(file_path_ratings)

In [ ]:
# Correct way to define configuration
config = {
    'host': "localhost",
    'user': "root",
    'password': "root",
    'database': "on_the_movie"
}

In [ ]:
# insert into users_movie
import mysql.connector
with mysql.connector.connect(**config) as conn:
    with conn.cursor() as cursor:
        
        query_movie= "insert into movie_table(MovieID, Title, Genres, Year) values (%s,%s,%s,%s)"
   
        for tupla in sdf_movies.itertuples(index=False, name=None):
            
            cursor.execute(query_movie, (tupla[0],tupla[1],tupla[2],tupla[3]))
    conn.commit()

In [ ]:
# insert into users_table
import mysql.connector
with mysql.connector.connect(**config) as conn:
    with conn.cursor() as cursor:
        
       query_users= "insert into users_table(UsersId, Gender, Age, CAP, Work) values (%s,%s,%s,%s,%s)"
   
       for tupla in sdf_users.itertuples(index=False, name=None):
            
            cursor.execute(query_users, (tupla[0],tupla[1],tupla[2],tupla[3],tupla[4]))
    conn.commit()

In [ ]:
# insert into users_ratings
with mysql.connector.connect(**config) as conn:
    with conn.cursor() as cursor:
        
        query_ratings= "insert into ratings_table(UserID, MovieID, Rating, Timestamp) values (%s,%s,%s,%s)"
   
        for tupla in sdf_ratings.itertuples(index=False, name=None):
            
            cursor.execute(query_ratings, (tupla[0],tupla[1],tupla[2],tupla[3]))
    conn.commit()